/*HTML*/



body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  background-color: #849d8f;
}

.page-wrapper {
  background-color: #849d8f;
  background: #849d8f url("/img/decor/slider_1.png") no-repeat;
  background-position: top center;

}

.page-wrapper:before,
.page-wrapper:after {
  content: "";
  visibility: hidden;
}

.page-wrapper:before,
.page-wrapper:after {
  background-color: inherit;
  background-image: url("/img/decor/slider_2.png");
}

.page-wrapper:after {
  background-color: inherit;
  background-image: url("/img/decor/slider_3.png");
}

input[type=text],
input[type=email],
input[type=password] {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 9px 15px;
  margin: 0px;
  min-width: 239px;
  height: 44px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover {
  padding: 8px 14px;
  border: 2px solid #c7c6c5;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  padding: 8px 14px;
  border: 2px solid #8fbdec;
}
.input-wrap {

  box-sizing: border-box;
  padding-top: 20px;
  color: #323232;
  background-color: transparent;
}
.input-wrap input:focus + label {
  display: block;
  color: #5b9ddf;
}
.input-wrap input:valid + label {
  display: block;
}
.input-wrap label {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 0px 15px;
  top: 0px;
  left: 0px;
  height: 20px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #999999;
  background-color: transparent;
}
textarea {
  box-sizing: border-box;
  margin: 0px;
  margin-bottom: 22px;
  padding: 9px 15px;
  min-width: 428px;
  min-height: 155px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  resize: none;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}
textarea:focus + label {
  display: block;
  color: #5b9ddf;
}
textarea:valid + label {
  display: block;
}
textarea:hover {
  padding: 8px 14px;
  border: 2px solid #c7c6c5;
}
textarea:focus {
  padding: 8px 14px;
  border: 2px solid #8fbdec;
}
textarea::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.page-wrapper {

  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: top center;
}
.page-wrapper:before,
.page-wrapper:after {
  content: "";
  visibility: hidden;
}
.content-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 250;
}
.overlay--show {
  display: block;
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {

  display: flex;
 justify-content: flex-start;
  box-align: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  padding: 5px 15px;
  padding-bottom: 8px;
  min-height: 70px;
}
.page-header .main-nav {
 flex-grow: 1;
flex-shrink: 1;
 flex-basis: auto;
}
.page-header__logo {
 flex-grow: 0;
flex-shrink: 1;
flex-basis: auto;
  width: 153px;
  height: 63px;
  margin-left: -5px;
}
.page-header__btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: 9px;
  padding: 8px 33px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  border-radius: 17px;
  cursor: pointer;
}
.page-header__btn:hover {
  color: #323232;
  background-color: #f8f7f4;
}
.page-header__btn:hover .page-header__popup-wrap {
  visibility: visible;
}
.page-header__btn--search {
  padding: 0px;
  margin: 0px;
  width: 33px;
  height: 33px;
  font-size: 0px;
}

.page-header__btn--basket:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.page-header__btn--basket-full {
  padding: 8px 17px;
  padding-left: 44px;
  color: #323232;
  background-color: #f7f6f3;
}

.popup-wrap {
  position: absolute;
  top: 100%;
  right: 0%;
  padding-top: 4px;
  visibility: hidden;
  z-index: 100;
}

.main-nav__search-form {
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.main-vav__search-form input[type=text] {
  min-width: 312px;
}


.page-header__contacts {
  position: absolute;
  top: 90%;
  right: 0px;
  padding: 0px 2.3%;
  text-align: right;
}
.page-header__contacts-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.page-header__contacts-number {
  padding: 2px 0px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav {
  padding: 5px 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.main-nav__items {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav__item {

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

}
.main-nav__item:hover {
  background-color: #f7f6f3;
  border-radius: 16px;
}
.main-nav__item:hover .main-nav__link {
  color: #323232;
  text-decoration: none;
}
.main-nav__item:hover .main-nav__popup-wrap {
  visibility: visible;
}
.main-nav__item--active {
  background-color: #d07058;
  border-radius: 16px;
  color: #ffffff;
}
.main-nav__item--active .main-nav__link {
  text-decoration: none;
}
.main-nav__link {
  display: inline-block;
  vertical-align: top;
  padding: 6px 14px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  color: #ffffff;
}
.main-nav__link:active {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 16px;
  box-shadow: inset 0 2px 2px #696969;
  text-decoration: none;
}
.main-nav__popup-wrap {
  position: absolute;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  top: 100%;
  left: -6px;
  z-index: 100;
  visibility: hidden;
}
.main-nav__popup-wrap:hover {
  visibility: visible;
}
.main-nav__popup {
  padding: 0px;
  min-width: 141px;
  list-style-type: none;
  background-color: #f8f7f4;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.main-nav__popup-item:last-child .main-nav__popup-link {
  padding-bottom: 12px;
}
.main-nav__popup-link {
  display: block;
  padding: 7px 18px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
.main-nav__popup-link--title {
  margin: 0px 6px;
  padding: 9px 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
}
.main-nav__popup-link--active {
  color: #ffffff;
  background-color: #d07058;
  cursor: default;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}








body>input[type="radio"] {
  display: none;
}


a {
  font-size: 16px;
  line-height: 1.3;

  color: white;

  border-bottom: 1px solid #a9bbb1;
  text-decoration: none;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 23px;
  padding-bottom: 12px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  white-space: normal;
  background-color: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  color: #ffffff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
}

.btn--large {
  padding: 7px 40px;
  padding-bottom: 11px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  border-radius: 31px;
}

.btn--small {
  padding-left: 17px;
  padding-right: 17px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 267px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 14px;

  font-size: 16px;
  line-height: 24px;

  color: #323232;
  border: 1px solid rgba(70, 70, 70, 0.48);

  border-radius: 3px;
  min-height: 29px;
  outline: none;
}

.logo {
  display: block;
  width: 154px;
  height: 64px;
  margin-right: 27px;

}

.page-header {
  padding: 0px;
  padding-top: 10px;

  min-height: 35px;


}

.page-header__btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 9px;
  padding: 8px 33px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  border-radius: 17px;
  cursor: pointer;
}

.page-header__btn:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.page-header__btn:hover .page-header__popup-wrap {
  visibility: visible;
}

.page-header__btn--search {
  padding: 0px;
  margin: 0px;
  width: 33px;
  height: 33px;
  font-size: 0px;
}

/*



.main-nav {
  float: left;
  width: 688px;
  margin-right: 13px;
  list-style: none;
  font-weight: bold;
}

.main-nav ul {
  margin: 0;
  margin-left: 30px;
  padding: 0;

  font-size: 0;
}

.main-nav ul:first-child {
  margin-left: -12px;
}

.main-nav li {
  position: relative;

  display: inline-block;
  margin-top: 5px;
  margin-left: -4px;
  padding-top: 8px;
  padding-bottom: 18px;

  min-height: 18px;
  vertical-align: top;
}

.main-nav a {
  display: block;
  margin: 8px 15px 6px 15px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
}

.main-nav__link:hover>a,
.main-nav a:active {
  margin: 0;
  margin-right: 4px;
  margin-left: 1px;
  padding: 7px 12px 6px 14px;

  font-weight: 700;

  color: black;

  border-radius: 14px;
}


.main-nav__popup-wrap {

  position: absolute;
  top: 45px;
  left: -38px;

  display: none;
  width: 143px;
  padding: 0;

  color: #323232;
  background-color: #f8f7f4;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}

.main-nav__popup li {
  margin-top: 2px;
  margin-bottom: 3px;
  padding: 0;
}

li:hover .main-nav__popup {
  display: block;

  z-index: 100;
}

.offers {
  width: 520px;
  margin-top: 41px;
  margin-bottom: 40px;
  padding: 15px 21px 23px 19px;
  min-height: 191px;
}


.offer-item__title {
  margin-bottom: -2px;
}

.offers-item p {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.offer-item--raspberry {
  float: left;
  background-color: #73172b;
  background-image: url("/img/decor/raspberry_mask.jpg");
  border-radius: 11px;
}

.offer-item--chocolate {
  float: right;
  background-color: #3a2217;
  background-image: url("/img/decor/Chocolate_mask.jpg");
  border-radius: 11px;
}

.shop-descr {
  width: 1146px;
  height: 306px;
  object-fit: contain;
  border-radius: 15px;

  margin-bottom: 40px;
  padding: 25px 15px 22px 20px;

  font-size: 16px;
  line-height: 22px;

  color: #323232;
  background-color: #eadcbe;
  background-repeat: no-repeat;
  background-image: url("/img/decor/wafer_mask.jpg");




}

.shop-descr__title {
  margin: 9px 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.shop-descr__items-left {
  display: inline-block;
  width: 475px;
  height: 182px;


}

.shop-descr__items-left {
  display: inline-block;
  width: 475px;
  height: 182px;


}

.shop-descr__item {
  width: 475px;
  height: 82px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #323232;


}

.shop-descr__item--icecream::before {
  background-image: url("/img/decor/ice-cream_small.svg");
  background-color: inherit;

}

.shop-descr__item--leaf::before {
  background-image: url("/img/decor/leaf.svg");
  background-color: inherit;

}

.shop-descr__item--cow::before {
  background-image: url("/img/decor/cow.svg");
  background-color: inherit;

}

.shop-descr__item--thermometer::before {
  background-image: url("/img/decor/thermometer.svg");
  background-color: inherit;
}


.blog-item,
.promo-item {
  margin-bottom: 40px;

  color: black;
}

.blog-item {
  width: 540px;
  float: left;
  padding: 22px 0px 0px 20px;

  font-size: 16px;
  line-height: 22px;

  background-color: white;
  background-image: url("/img/decor/rasberry_bgg.png");
  background-repeat: no-repeat;


  min-height: 198px;
  border-radius: 11px;
}

.blog-item__title {
  margin: 0;
  margin-bottom: 5px;
}

.blog-item__content-link {
  display: inline-block;
  width: 290px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: black;

  border: 0;
  text-decoration: underline;
  vertical-align: top;
}
/*
